<html>
<head>
    <link href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
google.setOnLoadCallback(drawChart);
function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Genre', 'Fantasy & Sci Fi', 'Romance', 'Mystery/Crime', 'General',
         'Western', 'Literature', { role: 'annotation' } ],
        ['2010', 10, 24, 20, 32, 18, 5, ''],
        ['2020', 16, 22, 23, 30, 16, 9, ''],
        ['2030', 28, 19, 29, 30, 12, 13, '']
      ]);

      var options = {
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true
      };
    var data = google.visualization.arrayToDataTable([
            [
            'Timeslot',
            {% for t in tag_list %}
            '{{ t }}',
            {% endfor %}
            { role: 'annotation' }
            ],
            {% for k, v in traffic_per_timeslot.items %}
                    ['{{ k }}',
                {% for k2, v2 in v.items %}
                    {{ v2 }},
                {% endfor %}
                    ''],
            {% endfor %}
    ]);
    var options = {
        title: 'Traffic by time of day',
        width: 600,
        height: 400,
        legend: { position: 'top', maxLines: 3 },
        bar: { groupWidth: '75%' },
        isStacked: true
    };

    var chart = new google.visualization.BarChart(document.getElementById("barchart"));
    chart.draw(data, options);
}
    </script>
</head>
<body>
    <p>
    Profile for client {{ client.client_name }} on date {{ date }}.
    </p>
    <div id="barchart" style="width: 900px; height: 500px;"></div>
</body>
</html>
