<head>
<link href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% if client_list %}
<h2 class="sub-header">Clients</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Id</th>
                <th>E-mail</th>
                <th>Phone</th>
            </tr>
        </thead>
        {% for client in client_list %}
        <tbody>
            <tr>
                <td>{{ client.id }}</td>
                <td><a href="/profile/{{ client.id}}">{{ client.client_name }}</a></td>
                <td>ipsum</td>
                <td>dolor</td>
                <td>sit</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<p>No clients are available.</p>
{% endif %}
</body>
